/* stylesheet for DemoSite01_StudyWeb */

/* global settings */
/* ============================================ */

/* charset */
@charset "UTF-8";

/* import font-family */
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400;500;700;900&display=swap');

/* basic settings */
body {
    color: #303030;
    font-family: 'Yantramanav', sans-serif;
}

/* link */
a:hover {
    text-decoration: underline;
}
a:active {
    opacity: .4;
}

/* clear fix */
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}


/* page header */
/* ============================================ */

/* page head */
#pageHead {
    width: auto;
    background:#fff;
}

/* site logo */
#pageHead .siteLogo {
    width: 10.45%;
    min-width: 3em;
    margin-top: .9em;
    margin-left: 17.15%;
    padding: 1.4%;
    background: #f5f5f5;
    border-radius: 50%;
}
#pageHead .siteLogo:hover {
    opacity: .7;
}

/* global navi */
#pageHead .globalNavi ul {
    margin-left: 50%;
    margin-bottom: 1em;
}
#pageHead .globalNavi ul li {
    margin-right: 2em;
    float: left;
    font-size: 1.1em;
    font-weight: 700;
    color: #666;
}


/* page footer */
/* ============================================ */

#pageFoot {
    background: #303030;
}
#pageFoot #copyright {
    font-size: 1.1em;
    text-align: center;
    padding-top: 1em;
    color: #f5f5f5;
}


/* page main */
/* ============================================ */

/* page main background */
#pageMain {
    background: #fff;
}

/* top banner */
#pageMain .topBanner {
    width: auto;
}

/* article */
#pageMain .articleDetail {
    width: 70%;
    margin: 0 auto;
}

/* article */
/* -------------------------------------------- */

/* page title */
.articleDetail .pageTitle {
    font-size: 1.8em;
    font-weight: 900;
    text-align: center;
    letter-spacing: .02em;
}

/* paragraph */
.articleDetail p {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: .02em;
}

/* table */
.articleDetail .demoTableFrame {
    background: #f5f5f5;
    padding: 0 .5em 1em .5em;
    border: solid 1px #e9e9e9;
    border-radius: 1%;
}
.articleDetail .demoTable {
    width: 100%;
}
.articleDetail .demoTable tr{
    border-bottom: dotted 1px #ccc;
}
.articleDetail .demoTable tr > * {
    vertical-align: middle;
    height: 2.1em;
    font-size: 1.1em;
}
.articleDetail .demoTable th {
    font-weight: 500;
}
.articleDetail .demoTable thead tr > * {
    height: 2.5em;
}
.articleDetail .demoTable thead th:first-child {
    font-size: 1.4em;
    color:  #e29742;
}
.articleDetail .demoTable tbody th {
    color: #978989
}

/* section */
#pageMain .articleDetail #sec_paragraph,
#pageMain .articleDetail #sec_table {
    margin-top: 4.9em;
}